/*
etiqueta {
#id {
.clase {
	atributo: valor;
}

MODELO DE CAJA

display: inline;
	No tienen padding ni margin.
	Las etiquetas pequeñas son INLINE.
display: block;
	No tienen nada a la derecha. Se apropian del ancho
	Todas las etiquetas grandes son BLOCK
display: inline-block;
	Tienen padding, margin y otras etiquetas encima.
	Quita los block de su eje vertical y los alinea horizontalmente.
position: static;
	Posicion por defecto de todos html.
position: relative;
	el elemento toma como punto cero la esquina izquierda superior
	de la caja directa que lo contiene.
	y adquiere TOP, LEFT, BOTTOM, RIGHT aparte de los margenes.
	Cuando es relative el contenedor, encierra al absolute contenido.
position: absolute;
	Hace que el elemento seleccionado flote encima de todo.
	Los demas elementos no ven al absolute y viven debajo de el.

*/
/* se linkean src como en el head de html. el link va sin comillas
para evitar errores de consola si algunos links se obtienen desde ajax
en el head de html 
prefix escribe los prefijos y nosotros no
*/
@import url(prefixfree.js);

@font-face{
  font-family: 'Open Sans';
  src:  url("fuentes/Open-Regular/OpenSans-Regular.eot?v=1.1.0");
  src:  url("fuentes/Open-Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"),
  		url("fuentes/Open-Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"),
  		url("fuentes/Open-Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"),
  		url("fuentes/Open-Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"),
  		url("fuentes/Open-Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* begin icon fonts */
@font-face {
	font-family: 'puls';
	/* recordar cambiar la ubicacion */
	src:url('fuentes/icons/puls.eot?ukehuh');
	src:url('fuentes/icons/puls.eot?#iefixukehuh') format('embedded-opentype'),
		url('fuentes/icons/puls.ttf?ukehuh') format('truetype'),
		url('fuentes/icons/puls.woff?ukehuh') format('woff'),
		url('fuentes/icons/puls.svg?ukehuh#puls') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
	content: "\e600";
	margin-right: .5em;
	position: relative;
	top: .05em;
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-star:before {
	content: "\e603";
	margin-right: 0.3em;
	position: relative;
	top: .1em;
}
/* icon fonts */




a { /* quitar. era solo para aprender al principio */
	color: #22BBEE; /* cambia el color a los links */
}
aside
{
	display: none; /* no se renderiza, no se carga en la web */
}
body {
	background: #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
footer {
	background: #22BCE0;
	color: rgba(255,255,255,0.5);
	padding: 1em;
	text-align: center;
}
footer p:first-child /* de un grupo al primer hijo */
{
	margin-bottom: 0;
}
footer p:last-child /* del mismo grupo el ultimo hijo */
{
	margin-top: 0;
}
footer p:last-child:after /* despues del contenido */
{
	content: " -"
}
footer p:last-child:before /* antes del contenido */
{
	content: "- "
}
header {
	background: #344455;
	color: white;
	overflow: hidden; /* vuelve a contener sus elementos */
	padding: 0.5em;
	position: relative;
	/* margin: 1em; /* solo mostrar */
}
header figure {
	float: left;
}
header h1 {
	font-size: 1.2em; /* em busca el fontsize padre y se proporciona */
	font-weight: normal;
	margin: 0 70px 0 0; /* top - rigth - bottom - left. como reloj */
}
header #avatar {
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0; /* si cambio left por right. indico que la prioridad en right */
	top: 0;
}
header #avatar img {
	border-radius: 50%; /* hace ver una img cuadrada dentro de un circulo */
	width: 55px;
}
header #logo
{
	border-right: 1px solid gray;
	margin-right: 0.5em;
	padding-right: 0.5em; /* usa la mitad del fontsize padre */
}
header #logo img
{
	transition: .5s;
	/* este efecto si esta en el contenedor
	sin el mouse hover vuelve a su estado */
	/* si estuviera en el hover no se devolveria */
	width: 52px; /* al declarar el ancho el alto es auto */
}
header #logo img:hover
{
	/* esta propiedad se aplica a la img directamente
	no a su contenedor */
	transform: rotate(360deg);
	/*
	-webkit-transform:; 
	-moz-tranform:;
	-o-tranform:;
	-ms-tranform:;
	*/
}
nav {
	background: #80BCA3;
	position: relative;
}
nav ul {
	list-style: none; /* le quita las viñetas a la lista */
	margin: 0; /* le quita el margen interior por defecto a la lista */
	padding: 0 7em 0 .5em; /* le quita margenes con otros elementos */
				/* pero luego tuve que hacer que boton publicar no se
				encimara en el menu */
}
nav ul li { /* ya es block */
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a { /* ya es inline */
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none; /* le quita el subrayado a la lista */
	transition: .2s;
}
nav ul li a:hover
{
	background: #344455;
}
nav ul #publicar_nav {
	position: absolute;
	right: .5em;
	top: -.1em;
}
nav ul #publicar_nav a {
	background: #22BCE0;
	border-radius: 0.3em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	/* RGB+Alfa +X +Y +Difuminado */
	font-style: italic;
	padding: .8em 1em; /* arriba y abajo + lados */
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
nav ul #publicar_nav a:hover
{
	background: #353535;
}

/* ID */

#contenido
{
	margin: 1em;
}
#formulario
{
	display: none;
	padding: 1em;
	text-align: right;
}
#formulario input
{	
	border: 1px solid #C0C0C0;
	border-radius: .3em;
	padding: .3em .5em;
}
#formulario input[type="submit"]
{	
	background: #22BCE0;
	border-color: #22BCE0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	/* RGB+Alfa +X +Y +Difuminado */
	color: white;
	font-style: italic;
	font-weight: lighter;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	transition: .2s;
}
#formulario input[type="submit"]:hover
{
	background: #353535;
	border-color: #353535;
}


/* CLASS */

.item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}
.autor_item a
{
	color: #444;
	text-decoration: none;
}
.autor_item
{
	color: #AAA;
	margin: 0.3em 0 0 0;
}
.datos_item
{
	margin: 1em 1em 0 0;
}
.down
{
	color: red;
}
.fav_item
{
	color: #FFBE2C;
}
.fecha_item
{
	color: #AAA;
	float: right;
}
.tag_item
{
	background: #F4502A;
	border-radius: 0.3em;
	color: white;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
.imagen_item
{
	float: left;
	margin-right: 1em;
}
.imagen_item img
{
	width: 96px;
}
.titulo_item
{	
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 0;
	padding: 0.8em 0 0 0;
}
.titulo_item a
{
	color: #444;
	text-decoration: none;
}
.up
{
	color: green;
}
.votacion a
{
	text-decoration: none;
}
.votacion
{
	background: white;
	border-radius: 0 0 0.3em 0.3em; /* dos arriba y dos abajo */
	left: 3%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	position: absolute;
	/* lo saca de sus coordenadas y hay que poner su contenedor como relative */
	top: 100%; /* toma el alto del contenedor */
	right: 3%;
}
.coment_item,
.fav_item
{
	float: right;
}


/* esto es responsive
se invoca el media query que afecte al monitor y con tamaños minimos */
@media screen and (min-width: 800px){

#contenido
{
	overflow: hidden; /* los floats quedan dentro de su contenedor */
}
#contenido .item
{
	width: 49%;
	float: left; /* quedan flotando sin importar su contenedor */
}
/* dentro del parentesis se selecciona con numeros los hijos
requeridos. con "odd" los impares y hay mas
*/
#contenido .item:nth-child(odd){
	margin-right: 2%;
}

}/* no quitar */

@media screen and (min-width: 950px){

	aside
	{
		display: block; /* aparece */
		float: right;
		margin: 1em;
		width: 25%; /* se proporciona al navegador */
	}
	aside video
	{
		width: 100%; /* se proporciona al padre */
	}

}/*no quitar*/