html, body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.be-red{
	background-color: #DC3522;
}
.white{
	color: #FAEBE5;
}
.red{
	color: red !important;
}
.lightblue{
	color: lightblue !important;
}
.large-padding{
	padding: 15px 10px;
}
.text-left{
	text-align: left;
}
.no-list{
	list-style-type: none;
}
a,a:visited{
	text-decoration: none;
	color: inherit;
}
.no-margin{
	margin: 0px;
}
.logo{
	font-size: 1.2em;
}
.field, .top-space, .actions{
	margin-top: 1em;
}
.form-control{
	border: none;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 2em;
}
.margin-bottom{
	margin-bottom: 2em;
}
.btn{
	background-color: #4C7F9C;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	color: #FAEBE5;
	border-radius: .3em;
	padding: 1em 3em 1em 3em;
}