<% if user_signed_in? %>
<h1>Wena wena <%= current_user.email %></h1>
<p>Lorea lo que voy aprendiendo con Ruby on Rails</p>

<% %> <!-- codigo que se evalua -->

<%= %> <!-- codigo que se imprime -->

<%end%>